@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../../assets/poppins-v22-latin-600.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: url('../../assets/poppins-v22-latin-600italic.woff2') format('woff2');
  }
  /* mulish-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/mulish-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/mulish-v13-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/mulish-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/mulish-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: url('../../assets/mulish-v13-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  src: url('../../assets/mulish-v13-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}s
  body {
    background: #F8F9FF;
    max-width: 1280px;
    margin: auto;
  }

  .Metrics-layout{/* Metrics */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 55px;
    gap: 60px;
    width: 1280px;
    height: 561px;
    background: #F8F9FF;
    flex: none;
    order: 4;
    flex-grow: 0;
    }
  .MetricsText-layout{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 2px;
width: 1170px;
height: 90px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }
  .MetricsText1{
width: 467px;
height: 49px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 130%;
text-align: center;
letter-spacing: -0.02em;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin-top: -40px;

  }
  .MetricsText2{
    width: 1170px;
    height: 21px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #2D2D2D;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: -10px; /* Moves text closer */

    }



  .Stats-layout{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 1170px;
    height: 171px;
    flex: none;
    order: 1;
    flex-grow: 0;
    }
  .StatsBox-layout{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 16px;
    gap: 5px;
    width: 270px;
    height: 171px;
    background: #FFFFFF;
    border-bottom: 4px solid #F2BFAF;
    box-shadow: 34.8541px 29.626px 48.34px rgba(51, 102, 255, 0.05);
    border-radius: 20px 20px 0px 0px;
    flex: none;
    order: 0;
    overflow: hidden;
    flex-grow: 1;
    }
  .StatsText1{
    width: 238px;
    height: 49px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2D2D2D;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 0; /* Reset margin */

    }
  .StatsText2{
    width: 238px;
    height: 21px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #2D2D2D;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: -30px; /* Moves text closer */
    }
    .Getstarted-layout{
margin-top: -300px;        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 120px 55px;
        gap: 60px;
        width: 1280px;
        height: 690px;
        background: #F8F9FF;
        border-radius: 0px;
        flex: none;
        order: 5;
        flex-grow: 0;
        }
    .Phone2{
        width: 540px;
        height: 450px;
        flex: none;
        order: 0;
        flex-grow: 0;
        }
        .GetstartedContainer-layout{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;
width: 570px;
height: 314px;
flex: none;
order: 1;
flex-grow: 1;
        }
        .GetstartedTxt-layout{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 0px;
            width: 570px;
            height: 214px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
            }

            .GSText1{
                width: 570px;
                height: 130px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 50px;
                line-height: 130%;
                letter-spacing: -0.02em;
                color: #2D2D2D;
                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;
                margin-top: 0px;
                }            
            .GSText2{
                margin-top: -30px;

                width: 570px;
                height: 64px;
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 400;
                font-size: 21px;
                line-height: 150%;
                color: #2D2D2D;
                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;
                }
                .Stories-layout{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 120px 55px;
                  gap: 60px;
                  width: 1280px;
                  height: 824.08px;
                  background: #F8F9FF;
                  flex: none;
                  order: 6;
                  flex-grow: 0;
                  }
                .StoriesText-layout{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 0px;
                  gap: 20px;
                  width: 1170px;
                  height: 90px;
                  flex: none;
                  order: 0;
                  align-self: stretch;
                  flex-grow: 0;
                  }
                .StoriesTxt1{
                  width: 1170px;
                  height: 49px;
                  font-family: 'Poppins';
                  font-style: normal;
                  font-weight: 700;
                  font-size: 38px;
                  line-height: 130%;
                  text-align: center;
                  letter-spacing: -0.02em;
                  color: #000000;
                  flex: none;
                  order: 0;
                  align-self: stretch;
                  flex-grow: 0;
                  }
                .StoriesTxt2{
                  width: 1170px;
                  height: 21px;
                  font-family: 'Mulish';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 130%;
                  text-align: center;
                  color: #2D2D2D;
                  margin-top:-30px ;
                  flex: none;
                  order: 1;
                  align-self: stretch;
                  flex-grow: 0;
                  }
                .StoriesBox-layout{
                  display: flex;
                  margin-top: 90px;
                  flex-direction: row; /* Ensure row layout */
                  justify-content: center;
                  align-items: flex-start;
                  gap: 30px;
                  width: 100%; /* Allow full width */
                  max-width: 1280px;


                }
                .StoriesBox{
                  box-sizing: border-box;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 40px 30px;
                  gap: 30px;
                  width: 370px;
                  height: 434.08px;
                  background: #FFFFFF;
                  border: 1px solid #E5F4F2;
                  box-shadow: 34.8541px 29.626px 48.34px rgba(51, 102, 255, 0.05);
                  border-radius: 20px;
                  flex: none;
                  order: 0;
                  left: 0;
                  }

.StoriesContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 310px;
  height: 301px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  }
.StoriesProfile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 1px;
  width: 310px;
  height: 127px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  }

.Person{
  width: 56px;
  height: 56px;
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  .StoriesProfileTexts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 310px;
    height: 55px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }


    .StoriesProfileTxt1{
      width: 310px;
      height: 27px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 21px;
      line-height: 130%;
      text-align: center;
      color: #111827;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
      margin-top:10px;
      }
    .StoriesProfileTxt2{
      width: 310px;
      height: 22px;
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: #374151;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      margin-top: -20px;

      }

      .StoriesDescription{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 24px;
        width: 310px;
        height: 144px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        }
        .StoriesDescriptionTxt{
width: 310px;
height: 144px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #2D2D2D;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin-top: -10px;
        }


.StarsContainer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 5px;
margin-left: 20px;
width: 310px;
height: 23.08px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
      }
      .filled {
        color: gold;
      }

 @media (max-width: 744px) {

                .Metrics-layout{
                  margin-left: 70px;

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 100px 32px;
gap: 40px;
width: 744px;
height: 494px;
background: #F8F9FF;
flex: none;
order: 5;
flex-grow: 0;
                    }
                  .MetricsText-layout{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;
width: 680px;
height: 111px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
                  }
                  .MetricsText1{
width: 467px;
height: 49px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 130%;
text-align: center;
letter-spacing: -0.02em;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
                  }
                  .MetricsText2{
width: 680px;
height: 42px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
text-align: center;
color: #2D2D2D;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
                    }
                
                
                
                  .Stats-layout{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;
width: 680px;
height: 143px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
                    }
                  .StatsBox-layout{
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 30px 16px;
gap: 5px;
width: 155px;
height: 143px;
background: #FFFFFF;
border-bottom: 4px solid #F2BFAF;
box-shadow: 34.8541px 29.626px 48.34px rgba(51, 102, 255, 0.05);
border-radius: 20px 20px 0px 0px;
flex: none;
order: 0;
flex-grow: 1;
                    }
                  .StatsText1{
width: 123px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 130%;
text-align: center;
letter-spacing: -0.01em;
color: #2D2D2D;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
                    }
                  .StatsText2{
width: 123px;
height: 42px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
text-align: center;
color: #2D2D2D;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
                    }
                    .Getstarted-layout{
                      margin-left: 70px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 100px 32px;
gap: 20px;
width: 744px;
height: 466.67px;
background: #F8F9FF;
border-radius: 0px;
flex: none;
order: 4;
flex-grow: 0;
                        }
                    .Phone2{
width: 320px;
height: 266.67px;
flex: none;
order: 0;
flex-grow: 0;
                        }
                        .GetstartedContainer-layout{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;
width: 340px;
height: 266px;
flex: none;
order: 1;
flex-grow: 1;
                        }
                        .GetstartedTxt-layout{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;
width: 340px;
height: 166px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
                            }
                
                            .GSText1{
width: 340px;
height: 98px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 130%;
letter-spacing: -0.02em;
color: #2D2D2D;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
                                }            
                            .GSText2{
               /* Break the Figma limits and explore the endless possibilities with Anima. */

width: 340px;
height: 48px;

/* Body M */
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* Onboarding background grey */
color: #2D2D2D;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

                                }
                                .Stories-layout{
                                  margin-left: 76px;

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 100px 32px;
gap: 30px;
width: 744px;
height: 1174.25px;
background: #F8F9FF;
flex: none;
order: 6;
flex-grow: 0;
                  }
                .StoriesText-layout{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;
width: 680px;
height: 139px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

                  }
                .StoriesTxt1{
width: 680px;
height: 98px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 130%;
text-align: center;
letter-spacing: -0.02em;
color: #000000;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

                  }
                .StoriesTxt2{
width: 680px;
height: 21px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
text-align: center;
color: #2D2D2D;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

                  }
                .StoriesBox-layout{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;
width: 680px;
height: 805.25px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

                }
                .StoriesBox{
                  /* Testimonial Card */

box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 40px 30px;
gap: 30px;
width: 680px;
height: 271.08px;
background: #FFFFFF;
border: 1px solid #E5F4F2;
box-shadow: 34.8541px 29.626px 48.34px rgba(51, 102, 255, 0.05);
border-radius: 20px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
                  }

.StoriesContainer{
  margin-left:-46px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 30px;
width: 620px;
height: 191.08px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }
.StoriesProfile{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;
width: 280px;
height: 127px;
flex: none;
order: 0;
flex-grow: 1;

  }

.Person{
width: 56px;
height: 56px;
flex: none;
order: 0;
flex-grow: 0;

  }
  .StoriesProfileTexts{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;
width: 280px;
height: 55px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

    }


    .StoriesProfileTxt1{
      width: 280px;
      height: 27px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 21px;
      line-height: 130%;
      text-align: center;
      color: #111827;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
      margin-top:10px;
      }
    .StoriesProfileTxt2{
      width: 310px;
      height: 22px;
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: #374151;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      margin-top: -20px;

      }

      .StoriesDescription{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
width: 310px;
height: 191.08px;
flex: none;
order: 1;
flex-grow: 0;

        }
        .StoriesDescriptionTxt{
width: 310px;
height: 144px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #2D2D2D;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin-top: -10px;
        }


.StarsContainer{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 5px;
width: 310px;
height: 23.08px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-left: 280px;
margin-top: -70px;

      }
      .filled {
        color: gold;
      }

                            }

  @media (max-width: 375px) {

                .Metrics-layout{
display: flex;
flex-direction: column;
align-items: center;
padding: 60px 30px;
gap: 40px;
width: 375px;
height: 668px;
background: #F8F9FF;
margin-left: 80px;

flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
                    }
                  .MetricsText-layout{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;
width: 315px;
height: 181px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
                  }
                  .MetricsText1{
width: 315px;
height: 98px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 130%;
text-align: center;
letter-spacing: -0.02em;
color: #000000;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
                  }
                  .MetricsText2{
width: 315px;
height: 63px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
text-align: center;
color: #2D2D2D;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
                    }
                
                
                
                  .Stats-layout{
display: grid;
grid-template-columns: repeat(2, 1fr); /* 2 items per row */

flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;
width: 315px;
height: 327px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
                    }
                  .StatsBox-layout{
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 30px 16px;
gap: 5px;
width: 147.5px;
height: 164px;
background: #FFFFFF;
border-bottom: 4px solid #F2BFAF;
box-shadow: 34.8541px 29.626px 48.34px rgba(51, 102, 255, 0.05);
border-radius: 20px 20px 0px 0px;
flex: none;
order: 0;
flex-grow: 1;
                    }
                  .StatsText1{
width: 115.5px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 130%;
text-align: center;
letter-spacing: -0.01em;
color: #2D2D2D;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
                    }
                  .StatsText2{
width: 115.5px;
height: 63px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
text-align: center;
color: #2D2D2D;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
                    }
                    .Getstarted-layout{
                      margin-left: 80px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 100px 32px;
gap: 20px;
width: 375px;
height: 466.67px;
background: #F8F9FF;
border-radius: 0px;
flex: none;
order: 4;
margin-top: -50px;
flex-grow: 0;
                        }
                    .Phone2{
width: 320px;
height: 266.67px;
margin-left: -80px;
flex: none;
order: 0;
flex-grow: 0;
                        }
                        .GetstartedContainer-layout{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;
width: 340px;
height: 266px;
flex: none;
order: 1;
flex-grow: 1;
                        }
                        .GetstartedTxt-layout{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;
width: 340px;
height: 166px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
                            }
                
                            .GSText1{
width: 340px;
height: 98px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 130%;
letter-spacing: -0.02em;
color: #2D2D2D;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
                                }            
                            .GSText2{
width: 340px;
height: 48px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #2D2D2D;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
                                }


 .Stories-layout{
  margin-left: 80px;
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 60px 30px;
gap: 30px;
width: 375px;
height: 1793.25px;
background: #F8F9FF;
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;
                  }
                .StoriesText-layout{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;
width: 315px;
height: 209px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
                  }
                .StoriesTxt1{
width: 315px;
height: 147px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 130%;
text-align: center;
letter-spacing: -0.02em;
color: #000000;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


                  }
                .StoriesTxt2{
width: 315px;
height: 42px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
text-align: center;
color: #2D2D2D;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

                  }
                .StoriesBox-layout{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;
width: 375px;
height: 805.25px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-top: 390px;

                }
                .StoriesBox{
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 40px 30px;
gap: 30px;
width: 315px;
height: 458.08px;
background: #FFFFFF;
border: 1px solid #E5F4F2;
box-shadow: 34.8541px 29.626px 48.34px rgba(51, 102, 255, 0.05);
border-radius: 20px;
flex: none;
order: 0;
flex-grow: 1;
                  }

.StoriesContainer{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 30px;
width: 255px;
height: 325px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

  }
.StoriesProfile{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;
width: 255px;
height: 127px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

  }

.Person{
  margin-left: 80px;

width: 56px;
height: 56px;
flex: none;
order: 0;
flex-grow: 0;

  }
  .StoriesProfileTexts{
    margin-left: 40px;

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;
width: 280px;
height: 55px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

    }


    .StoriesProfileTxt1{
      
width: 255px;
height: 27px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 130%;
text-align: center;
color: #111827;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

      }
    .StoriesProfileTxt2{
width: 255px;
height: 22px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
text-align: center;
color: #374151;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

      }

      .StoriesDescription{
        margin-left: 40px;

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
width: 255px;
height: 168px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

        }
        .StoriesDescriptionTxt{
width: 255px;
height: 168px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #2D2D2D;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

        }


.StarsContainer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 5px;
width: 255px;
height: 23.08px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-left: 20px;
margin-top: 0px;
      }                               
                            }





                            